@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    place-content: center;
    place-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa{
    display: grid;
    grid-template: 700px / 600px;
    width: 600px;
    height: 700px;
}

.c-main{
    width: 400px;
    height: 400px;
    grid-area: 1 / 1 / 4 / 4;
    background-color: rgb(171, 216, 216);
    border-radius: 50px;
    padding: 40px;
    margin: auto;
}

label{
    font-size: large;
    font-weight: 600;
}

input{
    width: 200px;
    height: 20px;
}