@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    place-content: center;
    place-items: center;
}

.conteiner{
    background-color: aqua;
    display: grid;
    width: 700px;
    height: 600px;
    grid-template: 50px repeat(1, 1fr) 50px / repeat(3, 1fr);
    border-radius: 20px;
}

.caixa-h{
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}



.caixa-m{
    grid-area: 2 / 1 / 3 / 4;
    place-items: center;
    place-content: center;
}

.caixa-f{
    grid-area: 3 / 1 / 4 / 4;
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#txtano{
    width: 150px;
    height: 20px;
}
