@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    place-content: center;
    place-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    font-weight: 500;
    font-size: larger;
}

div.conteiner{
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template: 100px repeat(1, 1fr) 100px / 50px repeat(1, 1fr) 50px;
}

.caixa-h{
    grid-area: 1 / 1 / 2 / 4;
    place-content: center;
    place-items: center;
    background-color: rgb(224, 195, 142);
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.borda-e{
    grid-area: 2 / 1 / 3 / 1;
    background-color: rgb(224, 195, 142);
}

.borda-d{
    grid-area: 2 / 3 / 3 / 3;
    background-color: rgb(224, 195, 142);
}

.caixa-m{
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgba(224, 195, 142, 0.616);
}

.caixa-f{
    grid-area: 3 / 1 / 4 / 4;
    background-color: rgb(224, 195, 142);
    place-content: center;
    place-items: center;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.555);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}